---
title: Dale's Floors
---

<div>
  <h1>Services</h1>
  <ul>
    <li>Sanding & Polishing</li>
    <li>Laying flooring</li>
    <li>Snuggles</li>
  </ul>
</div>
<div>
  <p>
    Servicing the Illawarra Region and South Coast NSW
  </p>
</div>

